<a href="https://colab.research.google.com/github/abhishekmishra-bareilly/Machine-learning/blob/main/Classifier_Model_Evaluation(Precision%2C_Recall%2C_F1_Score).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Model Evaluation**
**Precision, Recall, F1 Score**

In [2]:
# import numpy library
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

### **Importing the models**

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

### **importing the data**

In [4]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Machine Learning/Learn from outside/type 1/Copy of heart.csv')

In [5]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
# number of rows and columns in the 
data.shape

(303, 14)

## **checking for missing values**

In [7]:
# checking for missing values
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
# checking the distribution of Target Variable
data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

data is not valanced

1 --> Defective Heart

0 --> Healthy Heart

## **Splitting the Features and Target**

In [9]:
x = data.drop(columns = 'target',axis = 1)
y = data['target']

In [10]:
print(x)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [11]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

## **Train Test Split**

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, stratify = y, random_state=3)

In [13]:
print(x.shape, x_train.shape, x_test.shape)

(303, 13) (242, 13) (61, 13)

## **Model Evaluation**

In [14]:
model = LogisticRegression(max_iter=1000)
# training the LogisticRegression model with Training data
model.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

## **Model Evaluation**

### **Accuracy Score**

**Accuracy on Training data**

In [26]:
from sklearn.metrics import accuracy_score
x_train_pred = model.predict(x_train)
accuracy = accuracy_score(y_train,y_train_pred)
print(accuracy)

0.8636363636363636

In [27]:
print('Accuracy on Training data : ', round(accuracy*100, 2), '%')

Accuracy on Training data :  86.36 %

**Accuracy on Test data**

In [28]:
y_test_pred = model.predict(x_test)
accuracy = accuracy_score(y_test,y_test_pred)
print(accuracy)

0.7704918032786885

In [24]:
print('Accuracy on Test data : ', round(accuracy*100, 2), '%')

Accuracy on Test data :  77.05 %

### **Recall**
**Recall is the ratio of number of True Positive to the total number of Actual Positive. It measures, out of the total actual positive, how many are predicted as True Positive.**

**recall for training data predictions**

In [29]:
from sklearn.metrics import recall_score
recall_train = recall_score(y_train, x_train_pred)
print('Training data Recall =', recall_train)

Training data Recall = 0.9166666666666666

**recall for test data predictions**

In [31]:
recall_test = recall_score(y_test,y_test_pred)
print('Test data Recall =', recall_test)

Test data Recall = 0.8181818181818182

### **F1 Score**

**F1 Score is an important evaluation metric for binary classification that combines Precision & Recall. F1 Score is the harmonic mean of Precision & Recall.**

In [32]:
from sklearn.metrics import f1_score

**F1 score for training data predictions**

In [33]:
# F1 score for training data predictions
f1_score_train = f1_score(y_train, x_train_pred)
print('Training data F1 Score =', f1_score_train)

Training data F1 Score = 0.8799999999999999

**F1 Score for test data predictions**

In [34]:
# F1 Score for test data predictions
f1_score_test = recall_score(y_test,y_test_pred)
print('Test data F1 Score =', f1_score_test)

Test data F1 Score = 0.8181818181818182

### **Precision**

**Precision is the ratio of number of True Positive to the total number of Predicted Positive. It measures, out of the total predicted positive, how many are actually positive.**

In [37]:
from sklearn.metrics import precision_score

**precision for training data predictions**

In [38]:
# precision for training data predictions
precision_train = precision_score(y_train, x_train_pred)
print('Training data Precision =', precision_train)

Training data Precision = 0.8461538461538461

**precision for test data predictions**

In [39]:
# precision for test data predictions
precision_test = precision_score(y_test,y_test_pred)
print('Test data Precision =', precision_test)

Test data Precision = 0.7714285714285715

### **Precision, Recall, & F1 Score - function**

In [35]:
def precision_recall_f1_score(true_labels, pred_labels):

  precision_value = precision_score(true_labels, pred_labels)
  recall_value = recall_score(true_labels, pred_labels)
  f1_score_value = f1_score(true_labels, pred_labels)

  print('Precision =',precision_value)
  print('Recall =',recall_value)
  print('F1 Score =',f1_score_value)

In [40]:
# classification metrics for training data
precision_recall_f1_score(y_train, x_train_pred)

Precision = 0.8461538461538461
Recall = 0.9166666666666666
F1 Score = 0.8799999999999999

In [41]:
# classification metrics for test data
precision_recall_f1_score(y_test,y_test_pred)

Precision = 0.7714285714285715
Recall = 0.8181818181818182
F1 Score = 0.7941176470588236