<a href="https://colab.research.google.com/github/abhishekmishra-bareilly/Machine-learning/blob/main/Measures_of_Central_Tendency_count%2C_mean%2C_std%2C_min%2C_max%2C_IQR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Measures of Central Tendency

**Data**

In [ ]:
nums=[1,2,3,5,7,9]
import pandas as pd
num=pd.DataFrame(nums)



---

**Mean**
Median
Mode

In [1]:

num.mean()

0    4.5
dtype: float64



---

**Median**

In [5]:
num.median()

0    4.0
dtype: float64



---

**Mode**

In [3]:
num.mode()

   0
0  1
1  2
2  3
3  5
4  7
5  9



---

**Standard deviation**

In [4]:
num.std()

0    3.082207
dtype: float64



---

# Can use function

In [7]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000