<a href="https://colab.research.google.com/github/abhishekmishra-bareilly/Machine-learning/blob/main/fied_Shuffle_Split_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strati fied Shuffle Split function

In [1]:
# Librarry import
import pandas as pd

In [2]:
# connect google drive to run the file
from google.colab import drive #connect with google drive
drive.mount('/content/Drive')

Mounted at /content/Drive

In [3]:
# file path reading or csv upload to coolab from drive
file_path='/content/Drive/MyDrive/Colab Notebooks/Machine Learning/ML Project/data.csv'       
housing = pd.read_csv(file_path)

In [4]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,501.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284341,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.705587,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.884000,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.625000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
# check the data of 'CHAS' COLUMNS
housing['CHAS'].value_counts()

0    471
1     35
Name: CHAS, dtype: int64

Here we have a chalange to split the data 80% as train data and 20% as test data.

now the chalange is what if we split the data all 80% of 'CHAS' 1 our train data did not understand if 0 comes in test data.


so we use Stratified Shuffle Split function.

In [6]:
# now we are going to call StratifiedShuffleSplit function and split the data
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2,random_state=42)
for train_index, test_index in split.split(housing, housing['CHAS']):
  strat_train_set = housing.iloc[train_index]
  strat_test_set= housing.iloc[test_index]

print(type(strat_test_set))

<class 'pandas.core.frame.DataFrame'>

In [7]:
# the test set
strat_test_set['CHAS'].value_counts()

0    95
1     7
Name: CHAS, dtype: int64

In [8]:
95/7

13.571428571428571

In [9]:
# the train data
strat_train_set['CHAS'].value_counts()

0    376
1     28
Name: CHAS, dtype: int64

In [10]:
376/28

13.428571428571429